{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class='container'>
    <div class='container'>
       <img class='image-green' src=" {% static 'images/USA-States-Maps/SVG/02 US Map-01.svg' %} " alt="">
    </div>
    <h5 class='center-align teal-text text-darken-3'>Welcome to State Trivia!</h5>
    <form method="post" class='sign-up' action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class='container center'>
            <button type='submit' class='btn btn-75 teal darken-3'>Log In</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock content %}
