{% extends 'base.html' %}
{% block content %}

<div class='container'>
    <h5 class='center-align teal-text text-darken-3'>Welcome to State Trivia!</h5>
    
    {% if error_message %}
        <p class="teal-text text-darken-3">
            {{ error_message }}
        </p>
    {% endif %}

    <form method="post" class='sign-up' action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class='center'>
            <button type='submit' class='btn-large teal darken-3'>Create Account</button>
        </div>
    </form>
</div>

{% endblock content %}
