{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <h5 class='center-align teal-text text-darken-3'>Welcome to State Trivia!</h5>
    <h5 class='center-align teal-text text-darken-3'>This is a learning tool <br/> that will help you memorize <br/> state capitals and mottos!</h5>

    <div class='container'>
       <img class='image-green' src=" {% static 'images/USA-States-Maps/SVG/02 US Map-01.svg' %} " alt="">
    </div>

    {% if user.is_authenticated %}
    <h5 class='teal-text text-darken-3 center-align'>Choose a Game Mode</h5>
    <br>
    <div class='container center'>
        <a class='btn btn-75 teal darken-3' href="{% url 'game' capitals %}">Know The Capital?</a>
    </div>
    <br>
    <div class='container center'>
        <a class='btn btn-75 teal darken-3' href="{% url 'game' mottos %}">Know The Motto?</a>
    </div>
    <br>
    <div class='container center'>
        <a class='btn btn-75 teal darken-3' href="{%url 'game' extreme %}">EXTREME MODE</a>
    </div>
    <br>

    {% else %}
    <div class='container'>
        <h5 class='center-align teal-text text-darken-3'>Log In or create an account <br/> to start playing!</h5>
        <br>
        <div class='row'>
            <div class="col s6 center"><a class='btn btn-75 teal darken-3' href="{% url 'login' %}">Log In</a></div>
            <div class="col s6 center"><a class='btn btn-75 teal darken-3' href="{% url 'signup' %}">Sign Up</a></div>       
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}