{% extends 'gameModes/partials/game_logic.html' %}
{% block correctUrl1 %}{% url 'game_capitals_correct_answer' current_state.id %}{% endblock correctUrl1 %}
{% block incorrectUrl1 %}{% url 'game_capitals_incorrect_answer' current_state.id %}{% endblock incorrectUrl1 %}
{% block answer1 %}{{current_state.capital}}{% endblock answer1 %}

{% block correctUrl2 %}{% url 'game_capitals_correct_answer' current_state.id %}{% endblock correctUrl2 %}
{% block incorrectUrl2 %}{% url 'game_capitals_incorrect_answer' current_state.id %}{% endblock incorrectUrl2 %}
{% block answer2 %}{{current_state.capital}}{% endblock answer2 %}

{% block correctUrl3 %}{% url 'game_capitals_correct_answer' current_state.id %}{% endblock correctUrl3 %}
{% block incorrectUrl3 %}{% url 'game_capitals_incorrect_answer' current_state.id %}{% endblock incorrectUrl3 %}
{% block answer3 %}{{current_state.capital}}{% endblock answer3 %}

