{% extends 'base_incorrect.html' %}
{% load static %}

{% block content %}
    <br>
    <div class='container'>
        <img class='image-red' src="{% static 'images/FontStates/'|add:current_state.name|add:' State.svg' %}" alt="">
    </div>
    <br>
    <div class='container center row'>
        <div class='col s4 offset-s2'>
            <h5><i class="material-icons">check_box</i> = {{user_progress.correct}}</h5>
        </div>
        <div class='col s4'>
            <h5 class='red-text text-darken-3'><i class="material-icons red-outline">cancel</i> = {{user_progress.incorrect}}</h5>
        </div>
    </div>
    <h5 class='center-align red-text text-darken-4'>That's Incorrect! <br>The Correct Answer is:</h5>
    <h5 class="center-align red-text text-darken-4" >State: {{current_state.name}} <br>Motto: {{current_state.motto}} <br>Capital: {{current_state.capital}} </h5>
    <br>
    <div class='container center'>
        <a href=" {% url 'game_extreme' next_state %} " class='btn red darken-4'>Next!</a>
    </div>
    <br>
    <div class="progress container red accent-1">
      <div class="determinate red darken-4" style="width:{{progress}}%"></div>
    </div>
    <br>
{% endblock content %}