{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <div class='container'>
        <img class='image-green' src="{% static 'images/FontStates/'|add:current_state.name|add:' State.svg' %}" alt="">
    </div>
    <br>
    <div class='container center row'>
        <div class='col s4 offset-s2'>
            <h5><i class="material-icons">check_box</i> = {{user_progress.correct}}</h5>
        </div>
        <div class='col s4'>
            <h5 class='red-text text-darken-3'><i class="material-icons red-outline">cancel</i> = {{user_progress.incorrect}}</h5>
        </div>
    </div>
    <br>
    <div class='container center'>
        {% if AnswerArray.0 == current_state.motto %}
        <a class='btn teal darken-3' href=" {% url 'game_mottos_correct_answer' current_state.id %} ">{{current_state.motto}}</a>
        {% else %}
        <a class='btn teal darken-3' href="{% url 'game_mottos_incorrect_answer' current_state.id %}">{{AnswerArray.0}}</a>
        {% endif %}
    </div>
    <br>
    <div class='container center'>
        {% if AnswerArray.1 == current_state.motto%}
        <a class='btn teal darken-3' href=" {% url 'game_mottos_correct_answer' current_state.id %} ">{{current_state.motto}}</a>
        {% else %}
        <a class='btn teal darken-3' href="{% url 'game_mottos_incorrect_answer' current_state.id %}">{{AnswerArray.1}}</a>
        {% endif %}
    </div>
    <br>
    <div class='container center'>    
        {% if AnswerArray.2 == current_state.motto %}
        <a class='btn teal darken-3' href=" {% url 'game_mottos_correct_answer' current_state.id %} ">{{current_state.motto}}</a>
        {% else %}
        <a class='btn teal darken-3' href="{% url 'game_mottos_incorrect_answer' current_state.id %}">{{AnswerArray.2}}</a>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="progress container">
      <div class="determinate" style="width:{{progress}}%"></div>
    </div>

{% endblock content %}

